<div id="<%= dom_id beneficiary %>">
  <p>
    <strong>Surname:</strong>
    <%= beneficiary.surname %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= beneficiary.first_name %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= beneficiary.relationship %>
  </p>

  <p>
    <strong>Id no:</strong>
    <%= beneficiary.id_no %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= beneficiary.phone_number %>
  </p>

  <p>
    <strong>Postal address:</strong>
    <%= beneficiary.postal_address %>
  </p>

</div>
