<div id="<%= dom_id cover %>">
  <p>
    <strong>Company:</strong>
    <%= cover.insurance_company.company_name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= cover.insurance_type %>
  </p>

  <p>
    <strong>Cover name:</strong>
    <%= cover.cover_name %>
  </p>

  <p>
    <strong>Cover description:</strong>
    <%= cover.description %>
  </p>
</div>
