<%= form_with(model: cover) do |form| %>
  <% if cover.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cover.errors.count, "error") %> prohibited this cover from being saved:</h2>

      <ul>
        <% cover.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= form.label :company_id, "Select Insurance Company" %>
    <%= form.collection_select :company_id, 
    @insurance_companies, :id, :company_name,
    { prompt: "Choose a company" } ,  class:"form-control"%>
  </div>
   

  <div class="form-group">
  <%= form.label :insurance_type, "Insurance type" %>
  <%= form.collection_select :insurance_type, 
  [['Health', 'Health'],['Life', 'Life'],['Car', 'Car'],['Family', 'Family'],['Child Education','Child Education'],['Investments','Investments'],['House','House'],['Travel','Travel']], 
  :last,
  :first, 
  { prompt: "Choose insurance" } ,  class:"form-control"%>
</div> 


  <div class="form-group">
    <%= form.label :cover_name, style: "display: block" %>
    <%= form.text_field :cover_name,  class:"form-control", placeholder:"Cover Name" %>
  </div>

  
  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description ,  class:"form-control", placeholder:"Description" %>
  </div

  <br/>
  <div class="form-group">
    <%= form.submit class:"btn btn-primary mr-2" %>
  </div>
<% end %>
