  <%= form_with(model: @user, url: users_path, method: :post, multipart: true) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h3 class="text-center">DETAILS OF THE INSURED</h3>
<br/>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color:white;color:#212529;">
        STEP 1:  DETAILS OF MAIN APPLICANT
      </button>
    </h2>
  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="row g-3">  
          <div class="col-md-12">
            <p>Kindly complete all questions in full. Incomplete application forms cannot be processed. Please read carefully and fill out the entire form in BLOCK LETTERS. Attach the following:</p>
            <ul>
            <li>Birth certificate/notification (for children below 18 years).</li>
            <li>A copy of your PIN Card and ID/Passport.</li>
            </ul>

            <p>*All names should be captured as shown in ID/Passport and Birth Certificate for child dependants.</p>

          </div>

          <div class="col-md-2">
            <%= form.label :title,"Title", style: "display: block" %>
            <%= form.collection_select :title, 
          [['Mrs.', 'Mrs.'],['Ms.', 'Ms.'],['Mr.', 'Mr.'],['Dr.', 'Dr.'],['Prof.','Prof.'],['Eng.','Eng.']], 
          :last,
          :first, 
          { prompt: "Select Title" }, class:"form-control", required: true %>
          </div>
        
          <div class="col-md-4">
            <%= form.label :surname, style: "display: block" %>
            <%= form.text_field :surname, class:"form-control", required: true  %>
          </div>

          <div class="col-md-6">
          <%= form.label :first_name, style: "display: block" %>
          <%= form.text_field :first_name, class:"form-control", required: true  %>
          </div>

          <div class="col-md-2">
          <%= form.label :gender, style: "display: block" %>
          <%= form.text_field :gender, class:"form-control" , required: true  %>
            </div>

          <div class="col-md-4">
          <%= form.label :dob, "Date of Birth", style: "display: block" %>
          <%= form.date_field :dob, class:"form-control", required: true  %>
          </div>

          <div class="col-md-6">
          <%= form.label :nationality, style: "display: block" %>
          <%= form.text_field :nationality , class:"form-control" , required: true %>
          </div>

          <div class="col-md-3">
          <%= form.label :id_number, "ID Number",style: "display: block" %>
          <%= form.text_field :id_number, class:"form-control", required: true  %>
          </div>


          <div class="col-md-3">
          <%= form.label :attached_id, "Upload ID", style: "display: block" %>
          <%= form.file_field :attached_id, class:"form-control" , required: true %>
          </div>

          <div class="col-md-6">
            <%= form.label :email, style: "display: block" %>
            <%= form.text_field :email, class:"form-control", required: true  %>
          </div>

          <div class="col-md-6">
            <%= form.label :phone_number, style: "display: block" %>
            <%= form.number_field :phone_number, class:"form-control", required: true  %>
          </div>

          <div class="col-md-6">
            <%= form.label :sha, "SHA Number", style: "display: block" %>
            <%= form.number_field :sha, class:"form-control", required: true  %>
          </div>

          <div class="col-md-2">
            <%= form.label :marital_status, style: "display: block" %>
            <%= form.text_field :marital_status,class:"form-control", required: true   %>
          </div>


          <div class="col-md-4">
          <%= form.label :occupation, style: "display: block" %>
          <%= form.text_field :occupation , class:"form-control", required: true  %>
          </div>

          <div class="col-md-6">
              <%= form.label :employer_name, style: "display: block" %>
              <%= form.text_field :employer_name, required: true  %>
            </div>
            
          <div class="col-md-6">
            <%= form.label :kra_pin, style: "display: block" %>
            <%= form.number_field :kra_pin, required: true  %>
          </div>

          <div class="col-md-6">
            <%= form.label :attached_kra, "Upload KRA pin", style: "display: block" %>
            <%= form.file_field :attached_kra, class:"form-control", required: true%>
          </div>

          <div class="col-md-6">
            <%= form.label :postal_address, style: "display: block" %>
            <%= form.number_field :postal_address, class:"form-control", required: true  %>
          </div>

          <div class="col-md-6">
            <%= form.label :home_address, style: "display: block" , required: true %>
            <%= form.text_field :home_address %>
          </div>
          
          <br/>
          <div class="d-flex justify-content-center">
            <%= form.submit "Save Details", class:"button" %>
          </div>

          <br/>
        </div>
      </div>
</div>

<% end %>

<br/>
