<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>


  <p>
    <strong>Middle name:</strong>
    <%= user.middle_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= user.id_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Kra pin:</strong>
    <%= user.kra_pin %>
  </p>

</div>
