<div id="<%= dom_id dependant %>">
  <p>
    <strong>User:</strong>
    <%= dependant.user_id %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= dependant.surname %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= dependant.first_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= dependant.dob %>
  </p>

  <p>
    <strong>Id no:</strong>
    <%= dependant.id_no %>
  </p>

  <p>
    <strong>Blood group:</strong>
    <%= dependant.blood_group %>
  </p>

</div>
