<div id="<%= dom_id insurance_company %>">
  <p>
    <strong>Company:</strong>
    <%= insurance_company.id %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= insurance_company.company_name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= insurance_company.logo %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= insurance_company.website %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= insurance_company.email %>
  </p>

</div>
