<div class="theme-loader">
<div class="spinner">
  <div class="spinner-bounce one"></div>
  <div class="spinner-bounce two"></div>
  <div class="spinner-bounce three"></div>
</div>
</div>
<!-- Preloader End -->

<!-- Header Area Start -->
<div class="header__area two header__sticky">
    <div class="custom__container">
        <div class="header__area-menubar p-relative">
            <div class="header__area-menubar-left">
                <div class="header__area-menubar-left-logo two">
                    <a href="#">
              
                    <img class="dark-n" src="/logo-3.png" alt="Logo-image">
                    <img class="light-n" src="logo-4.png" alt="Logo-image"></a>
                </div>
            </div>
    <div class="header__area-menubar-center">
                <div class="header__area-menubar-center-menu two menu-responsive">						
<ul id="mobilemenu">
<li class="menu-item">
<%= link_to "Home", root_path %>
</li>
<li>
<%= link_to "About Us", root_path %>
<li>
<%= link_to "Claims", root_path %>
<li>
<%= link_to "Contact Us", home_contact_us_path %>
</li>
<li>
<% if current_admin %>
<%= link_to "Admin", admins_dashboard_path %>
<% else %>
<%= link_to "Admin", new_admin_session_path %>
<% end %>

</li>

</ul>
</div>
</div>
</div>
</div>
</div>    