<div id="<%= dom_id user_payment %>">
  <p>
    <strong>User:</strong>
    <%= user_payment.user_id %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= user_payment.cover_id %>
  </p>

  <p>
    <strong>Amount to pay:</strong>
    <%= user_payment.amount_paid %>
  </p>

  <p>
    <strong>Payment mode:</strong>
    <%= user_payment.payment_mode %>
  </p>

</div>
