<div id="<%= dom_id coverdetail %>">
  <p>
    <strong>Cover:</strong>
    <%= coverdetail.cover_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= coverdetail.category %>
  </p>

  <p>
    <strong>Optional:</strong>
    <%= coverdetail.optional %>
  </p>

  <p>
    <strong>Younger age:</strong>
    <%= coverdetail.younger_age %>
  </p>

  <p>
    <strong>Older age:</strong>
    <%= coverdetail.older_age %>
  </p>

</div>
