<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mybima" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BimaLife - Securing Generations">
    <meta name="keywords" content="Insurance, Digital, Policy, Cover, Claims">
    <meta name="author" content="ThemeOri">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

 
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <%= stylesheet_link_tag "application", media: "all" %>

	<!-- Start Meta -->
	
	<!-- Title of Site -->
	<title>BimaLife - Securing Generations</title>

<!-- Favicons -->


<!-- Bootstrap CSS -->
<link rel="icon" type="image/png" href="favicon-1.png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="/css/all.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Flaticon -->
	<link rel="stylesheet" href="/font/flaticon.css">	
	<!-- Swiper Bundle CSS -->
	<link rel="stylesheet" href="/css/swiper-bundle.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- Mean Menu CSS -->
	<link rel="stylesheet" href="/css/meanmenu.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style.css"> 

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<!-- Bootstrap JS -->
<%= javascript_include_tag "https://code.jquery.com/jquery-3.7.0.min.js", defer: true %>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<%= javascript_include_tag 'bootstrap.min', 'data-turbo-track': 'reload' %>
<!-- Magnific Popup JS -->
<%= javascript_include_tag 'jquery.magnific-popup.min', 'data-turbo-track': 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.magnific-popup/1.1.0/jquery.magnific-popup.min.js"></script>

<!-- jQuery -->
<%= javascript_include_tag 'jquery-3.7.0.min' %>
<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'jquery.counterup.min' %>
<%= javascript_include_tag 'popper.min' %>
<%= javascript_include_tag 'progressbar.min' %>
<%= javascript_include_tag 'jquery.magnific-popup.min' %>
<%= javascript_include_tag 'swiper-bundle.min' %>
<%= javascript_include_tag 'isotope.pkgd.min' %>
<%= javascript_include_tag 'jquery.waypoints.min' %>
<%= javascript_include_tag 'jquery.meanmenu.min' %>
<%= javascript_include_tag 'custom' %>





</head>

  </head>

  <body>

    <%= render 'home/header' %>

    <div class = "container">
    <% if notice %>
    <%= render 'layouts/alerts' %>
  <%end%>

    <%= yield %>
    </div>

  </body>
</html>
